<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="BankName" value="AUTOTEST" />
    <add key="Username" value="lvadmin" />
    <add key="Password" value="Vsgbank2" />
    <add key="Website" value="http://loanvantage360.com/TRUNK/" />
    <add key="PageLoadTimeout" value="2"/>
    <add key="ElementLoadTimeout" value="2"/>
  </appSettings>
<specFlow>
  <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration> 